body{
    background-color: rgba(197, 227, 241, 0.516);
}
.logo-text{
    font-weight: bold;
    /* text-shadow: 8px 10px 8px black; */
}

#text-logo{
    color: rgb(17, 241, 17);
}
.nav-color{
    background-color:#a5eef5a3;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-name {
    margin-top: 0;
    font-size: 24px;
  }
  
  .profile-bio {
    margin-bottom: 20px;
  }

/* Add course Card */

/* Subject change */

label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}
input[type="submit"] {
  padding: 10px 20px;
}
