@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
*{
    margin: 0;
    padding: 0;
}

header {
	background-color: #333;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 10%;
	z-index: 1;
}

#toggle-button {
	color: #fff;
	font-size: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#side-nav {
	position: fixed;
	top: 0;
	left: 0px;
	width: 250px;
	height: 100%;
	background-color: #333;
	padding-top: 80px;
	transition: all 0.3s ease;
}

#side-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#side-nav ul li a {
	display: block;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
}

#side-nav ul li:hover {
  background-color: rgb(77, 77, 43);
  color: #111;
}

#side-nav ul li a:hover {
  color: rgb(2, 0, 0);
}

#side-nav ul li{
  width: 100%;
  height: 30%;

}
#side-nav.show {
	left: 0;
}

main {
	margin-top: 54px;
	
}

.main{
  margin-left: 19.5%;
  
}

.subject{
  width: 200px;
  height: 150px;
  /* border: 2px solid black; */
  background-color: aliceblue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.courses{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  width: 100%;
  flex-basis: 33%;
  
}

.main{
  display: flex;
  position: relative;
  
}

.class{
  width: 90%;
  
  background-color: #73dbdb;
  height: 70px;
  margin-left: 30px;
}

.subline{
  font-size: 20px;
  color: #fff;
  margin-left: 8px;
}

.teacher{
  margin-top: -12px;
  font-size: 15px;
  margin-left: 8px;
}

.today{
  background-color: #d82828;
  width: 100%;
  height: 100%;
}

.notices{
  width: 100%;
  height:auto;
  background-color: #73dbdb;
  display: flex;
  margin-bottom: 10px;
}

.main1{
  margin-right: 3%;
  display: flex;
}

/* profile pop up  */

header {
  /* background-color: #333; */
  overflow: hidden;
  display: flex;
  justify-content: space-between;

}


header li {
  float: right;
  margin-top: -2.5%;
  margin-right: 2%;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* header li a,.fa-solid:hover {
  background-color: #111;
} */

header .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/* logout card */

.card {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  text-align: center;
  padding: 20px;
  display: none;
 position: absolute;
 left: 820px;
 top: -9px;
 
 
  /* z-index: 9999; */
  /* transform: translateY(20px); */
 
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-name {
  margin-top: 0;
  font-size: 24px;
}

.profile-bio {
  margin-bottom: 20px;
}

.logout-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* icon */
.fa-solid{
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 11px;
  margin-left: 5px;

}

/* subjects */

.teachers-data{
  display: flex;
  margin-left: 8px;
  margin-top: -20px;
  gap: 5px;
}

.attandence{
  display: flex;
  margin-left: 10px;
  margin-top: -30px;
  gap: 5px;
}

.teacher-logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 8px;
}

.Subject-Name{
  margin-left: 8px;
}

.teacher-name{
  margin-top: 21px;
  font-size: 14px;
}

/* today class */

.teacher-deatails{
  display: flex;
  margin-left: 5px;
}

.today-image{
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 5px;
}

.persent{
  background-color: #39f128;
}

.notice-image{
  max-width: 50px;
  max-height: 50px;
  margin-left:10px ;
  margin-top: 8px;
  border-radius: 50%;
}

.notice-heading{
  margin-left: 8px;
}

.notice-date{
  font-size: 10px;
  margin-left: 10px;
  margin-top: -10px;
}
li{
    list-style: none;
}

.container{
    display: flex;
    
    
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 0;
}

.student{
    width: 30%;
    height: 100px;
    /* border: 1px solid black; */
    background-color: aqua;
    /* margin-top: -49px;
    margin-left: -29px; */
    text-align: center;
    
}

.student h2{
  margin-top: 12%;
  
}
.studentName{
    width: 70%;
    height: 100px;
    /* margin-top: -49px; */
    background-color: #39f128;
    display: flex;
}

.studentName h2{
  margin-left: 15px;
  margin-top: 5%;
}

.studentName img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 4%;
  margin-left: 2%;
}

.studentList{
    width: 30%;
    height: 100%;
}

.studentBox{
  display: flex;
  /* background-color: #ebe5e5; */
  padding: 5px 0px 5px 5px;
  background-color: #fff;
}
.studentBox:hover{
  background-color: #ebe5e5;
  cursor: pointer;
  
}
.studentBox img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nameLine{
  width: 100%;
  margin-top:7%;
  margin-left: 10px;
  height: 30px;
}

.studentData{
  display: flex;
  width: 70%;
  /* height: 100%; */
  position: relative;
  /* background-color: #fcf8f8; */
}

.studentProfile{
  flex-grow: 1;
  height: 100%;
}

/* chart css */

/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */

 .grid{
  position: absolute;
  bottom: -189px;
  right: 64px;
}
 .circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Layout styles only, not needed for functionality */
html {
  font-family: sans-serif;
  
}

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
  width: 223px;
  margin-top: 10px;
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Button */

.button-three{
 text-align: center;
  cursor: pointer;
  font-size:21px;
  justify-content: center;
  align-items: center;
  margin-left: 27%;
  margin-top: 8%;
}

.button-three {
    position: relative;
    background-color: #7ffa4e;
    border: none;
    padding: 11px;
    width: 139px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* Input Check Box */

input[type=checkbox]{
  margin-right: 10px;
  width: 30px;
}


/* Student Data */

/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}



/** icons **/
.fa-birthday-cake {
  float:right;margin-right:10px;
}

.fa-file-text-o {
  float:right;margin-right:12px;
}

.fa-address-card-o {
  float:right;margin-right:10px;
}

/**inner**/


li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  font-weight: bold;
}

li a:hover {
    background-color: #00aaff;
  color: white;
}
.dropdown:hover .dropbtn {
    background-color: #00aaff;
  color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-weight: lighter;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #00aaff}

.dropdown:hover .dropdown-content {
    display: block;
}


.content {
  padding: 0% 5% 15px 5%;
  display: flex;
  position: absolute;
  width: 100%;
  flex-flow:  row wrap;
  height: auto;
  margin-top: 14px;
}

.pridet {
  cursor: pointer;
  padding: 12px 1px 10px 15px;
  /* margin-right: 10px; */
  /* margin-top: 20px; */
  background-color: #fff;
  width: 100%;
  height: auto;
	/* -webkit-box-shadow: 0px 0px 20px 0px black;
	   -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black; */
    background-color: #f3f3f3;
}

.pridet:hover {
    /* box-shadow: 0px 0px 20px 3px black; */
  background-color: #f3f3f3;
  
}
.pridet a {
  margin: 0px 20px 0px 0px;
  /* font-weight: bold;
  color: red; */
}
.pridet i {
  margin: -3px 20px -5px 0px;
  position: relative;
  float:right;
  font-size: 24px;
  right: 16px;
}
.pridet i:hover {
    transform: scale(1.3);
}
/* image edit button */
.edit {
  z-index: 99;
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
}

.motimg:hover .edit {
	display: block;
}

.fatimg:hover .edit {
	display: block;
}

.stdimg:hover .edit {
	display: block;
}



.stddetail {
  cursor: pointer;
  padding: 12px 1px 10px 15px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-flow:  row wrap-reverse;
  width: 49%;
  height: auto;
	/* -webkit-box-shadow: 0px 0px 20px 0px black;
	   -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black; */
    background-color: #f3f3f3;
    
}

.stddetail:hover {
    /* box-shadow: 0px 0px 20px 3px black; */
  background-color: #f3f3f3;
  
}

.pardetail {
  cursor: pointer;
  padding: 12px 1px 10px 15px;
  background: white;
  margin-top: 20px;
  display: flex;
  flex-flow:  row wrap-reverse;
  width: 49%;
  height: auto;
	/* -webkit-box-shadow: 0px 0px 20px 0px black;
	   -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black; */
    background-color: #f3f3f3;
}

.pardetail:hover {
    /* box-shadow: 0px 0px 20px 3px black; */
  background-color: #f3f3f3;
  
}

.stdimg {
	position: relative;
	display: inline-block;
  width: 22.8%;
  padding-top: 2px;
  height: auto;
}
img { max-width: 100%; height: auto; 
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
			-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
			-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
} 
.stdinfo {
  display: flex;
  flex-flow:  row wrap;
  width: 77.2%;
  height: auto;
}

.stdinfo a {
  margin-bottom: 7px;
}

.stdinfo font {
  font-weight: normal;
}

.pardetail font {
  font-weight: normal;  
}

.motdetail {
  display: flex;
  flex-flow:  row wrap-reverse;
  width: 50%;
  height: auto;
}
.fatdetail {
  display: flex;
  flex-flow:  row wrap-reverse;
  width: 50%;
  height: auto;
}


.motimg {
	position: relative;
	display: inline-block;
  width: 46%;
  padding-top: 2px;
  height: auto;
}

.motinfo {font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  flex-flow:  column wrap-reverse;
  width: 54%;
  /* padding: 2px 10px 0 10px; */
  height: auto;
}

.fatimg {
	position: relative;
	display: inline-block;
  width: 46%;
  padding-top: 2px;
  height: auto;
}

.fatinfo {  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 14px;
  
  display: flex;
  flex-flow: column wrap-reverse;
  width: 54%;
  padding: 2px 10px 0 10px;
  height: auto;
}

.stdinfoin { 
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 14px;
  
  display: flex;
  flex-flow: column wrap-reverse;
  width: 50%;
  line-height: 1.3;
  padding: 10px 10px 0 10px;
  height: auto;
}

.pardetail a {
  margin-bottom: 8px;
}


.perdetail i:hover {
    transform: scale(1.3);
}

.perdetail {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  cursor: context-menu;
  padding: 0 0 10px 0;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-flow:  column wrap;
  width: 24.1%;
  height: auto;
	/* -webkit-box-shadow: 0px 0px 20px 0px black;
	   -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black; */
    background-color: #f3f3f3;
}

.perdetail:hover {
    /* box-shadow: 0px 0px 20px 3px black; */
  background-color: #f3f3f3;
}

.perdetail a {
  margin: 10px 0 1px 10px;
}

.doct a {
  cursor: pointer;
}

.doct .top, .otherdet .top {
  text-align: center;
  font-weight: bold;
  background: #00ffaa;
  color:#1f253d;
  margin:0px;
  padding:5px 0 5px 0;
}

.fa:hover {
  color:#cc0000;
  cursor: pointer;
}

.otherdet {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  
  cursor: context-menu;
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  width: 49%;
  height: auto;
	/* -webkit-box-shadow: 0px 0px 20px 0px black;
	   -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black; */
    background-color: #f3f3f3;
}


.addoth {
  width:  100%;   
  display: flex;
  flex-flow: column;
  background-color: #fff;
  height: 54%;
}

.addothin {
  padding: 0 1px 0 10px;
  width:  100%; 
  display: flex;
  flex-flow: row;
}

.addothin a{
  width:  50%; 
}

.otherdet:hover {
    /* box-shadow: 0px 0px 20px 3px black; */
  background-color: #f3f3f3;
}

.addoth a {
    margin:10px;
}

.preved {
  padding: 0 10px 0 5px;
  width:  100%;   
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  height: 46%;
}

.pervedleft {
  padding: 0 10px 0 15px;
  width: 50%;
  height:auto;
  display: flex;
  flex-flow: column wrap;  
}

